# Python & Colab Cache
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Data Files (PENTING: Jangan upload data raster/shp)
*.tif
*.tiff
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.zip
*.csv

# Folder Output Spesifik
SPI6-Output/
CHIRPS v3/
Batas Adm Jambi/

# Output Images
*.png
*.jpg
